@import "../../styles/_utils";

.tab-overlay-area {
    position: fixed;
    display: flex;
    flex-flow: row nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2.5%;
    padding-top: 0;

    &__item {
        position: absolute;
        width: 95%;
        min-height: 85vh;
        max-height: 100%;
        transform: translate(0,80vh);
        transform-origin: top left;
    }
    &__item--tilt-right { transform: translate(0, 79.5vh) rotate(0.75deg) }
    &__item--tilt-left { transform: translate(0, 80.5vh) rotate(-0.75deg) }
    &__item--active {
        transform: translate(0,2.5vh);
        overflow-y: scroll;
    }
}
